@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root
{
 

--soft-blue: hsl(215, 51%, 70%);
--cyan: hsl(178, 100%, 50%);



--main-bg : hsl(217, 54%, 11%);
---card-bg: hsl(216, 50%, 16%);
--line: hsl(215, 32%, 27%);
--white: hsl(0, 0%, 100%);
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img
{
    max-width: 100%;
}

ul
{
    list-style-type: none;
}

p
{
    font-weight: 300;
}


body
{
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: var(--main-bg);
    color: hsl(0, 0%, 100%, 60%);
    padding:1.5rem;
} 

.container
{
    border-radius: 1rem;
    padding: 2rem;
    background-color: var(---card-bg);
}

.container .main-image
{
    position: relative;
}

.container .main-image div
{
    position: absolute;
    background-color: hsl(178, 100%, 50%, 50%);
    top: 0;
    width: 100%;
    height: calc(100% - 4.9px);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.container .main-image div:hover
{
    cursor: pointer;
    opacity: 1;
}

.container .main-image div img
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); ;
}



.container h2
{
    color: var(--white);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.container h2:hover
{
    cursor: pointer;
    color: var(--cyan);
}

.container ul
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0;
    border-bottom: 1px solid var(--line);
}

.container ul li
{
    display: flex;
    align-items: center;
}

.container ul li:first-child
{
    color: var(--cyan)
}

.container .avatar
{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 1.25rem;
}

.container .avatar img
{
    width: 2rem;
    border: 1px solid var(--white);
    border-radius: 50%;
    margin-right: 1.25rem;
}

.container .avatar p span
{
    color: var(--white);
    font-weight: 400;
}

.container .avatar p span:hover
{
    color: var(--cyan);
    cursor: pointer;

}

.container ul li img
{
    margin-right: 0.5rem;
}


@media (min-width: 500px) {

    .container
    {
        width: 450px;
        margin: 2rem auto;
    }
}